.list-item
  display: flex
  justify-content: space-between
  height: 35px
  border: 0.5px double black
  margin: 3px
  padding: 3px 10px 3px 15px
  border-radius: 3px
  background-color: rgb(255, 255, 255);

  span
    display: block
    cursor: pointer

  &.important
    span, .bi-exclamation-circle-fill
      color: tomato

  &.check
    .bi-check-circle-fill
      color: rgb(11, 131, 11)

    span
      text-decoration: line-through

  .list-item__block
    width: 88px
    display: flex
    justify-content: space-between
    align-items: center
    button
      border-radius: 15px